.contenedor{
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cards--container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    grid-gap: 40px;
    padding: 10px;
    width: 80vw;
    
}

.astro--container{
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F6E8C;
    border-radius: 10px;
    padding: 10px 0;
}

.astro--name, .astro--station{
    margin: 10px 0;
}